/* Cyberchase - Cores */

:root {
    /* Cores principais */
    --cor-fundo: #021c4af5;  /* Azul escuro */
    --cor-destaque: #f5e100; /* Amarelo vibrante */
    --cor-secundaria: #ff5c8d; /* Rosa choque */
    --cor-acento: #00ffb3; /* Verde neon */
    
    /* Cores de fundo e texto */
    --cor-texto: #ffffff; /* Branco */
    --cor-fundo-secundario: #121212; /* Cinza escuro para contrastes */
    
    /* Cores de borda e elementos de destaque */
    --cor-borda: #00d1b2; /* Verde água */
    --cor-hover: #ff007f; /* Rosa escuro para hover */
  }